---
import ExperienceItem from "./ExperienceItem.astro";

const EXPERIENCIE = [
  {
    date: "Enero 2021 - Actualmente",
    title: "Squad Leader Full Stack Developer",
    company: "Jelou AI",
    description:
      "Impulsé la innovación y escalabilidad en productos clave mediante arquitectura DDD, TDD y Clean Code, reduciendo errores en un 30%. Lideré el desarrollo de interfaces intuitivas y optimicé la organización del equipo, logrando un 25% menos de retrasos y mayor productividad",
    link: "/experience/jelou",
  },
  {
    date: "Diciembre 2021",
    title: "Lead Full Stack Developer",
    company: "ID for Ideas | Prácticas",
    description:
      "Lideré el desarrollo de un MVP desde su conceptualización hasta su lanzamiento, coordinando frontend y backend, aplicando metodologías ágiles y fomentando la colaboración interdisciplinaria. Esta experiencia consolidó mis habilidades como Full-stack Developer y líder de equipo en entornos dinámicos y desafiantes",
    link: "/experience/id-for-ideas",
  },
];
---

<ol class="relative mt-16">
  {
    EXPERIENCIE.map((experiencie) => (
      <li class="">
        <ExperienceItem {...experiencie} />
      </li>
    ))
  }
</ol>
